<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesodeDatos.Properties.Settings.CadenaConexion_LibreriaDB"
            connectionString="Data Source=.;Initial Catalog=LibreriaDB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>